<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form role="form" action="/login" th:object="${loginDto}" method="post">

    <div th:if="${#fields.hasGlobalErrors()}">
        <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
    </div>


    <div>
        <label>로그인 id</label>
        <input type="text" id="name" th:field="*{name}" class="form-control"
               th:errorclass="field-error">
        <div class="field-error" th:errors="*{name}" />
    </div>

</form>
</body>
</html>